# Importing libraries and CSV

## Libraries

In [1]:
# SQL
import pymysql
import sqlalchemy as alch # python -m pip install --upgrade 'sqlalchemy<2.0'

# Get pass for password
from getpass import getpass

# df 
import pandas as pd
import numpy as np 

# Visualization
import plotly.express as px

## Importing CSV

In [2]:
# Check why I have to share all the path 

df = pd.read_csv(r"C:\Users\DavidVicente\Desktop\IronHack\Git_Project_Repos\Project_4_Superstore-Sales-Visualization-\Data\Sample - Superstore.csv", encoding='latin')
df.sample(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
3971,3972,CA-2015-132374,2/22/2015,2/24/2015,Second Class,PS-19045,Penelope Sewall,Home Office,United States,Sterling Heights,...,48310,Central,OFF-AR-10001615,Office Supplies,Art,Newell 34,79.360,4,0.0,20.6336
6737,6738,CA-2016-123358,4/10/2016,4/17/2016,Standard Class,BT-11680,Brian Thompson,Consumer,United States,San Francisco,...,94122,West,OFF-ST-10000636,Office Supplies,Storage,Rogers Profile Extra Capacity Storage Tub,150.660,9,0.0,6.0264
4857,4858,CA-2015-137526,1/13/2015,1/17/2015,Standard Class,PB-19150,Philip Brown,Consumer,United States,Los Angeles,...,90004,West,FUR-FU-10001861,Furniture,Furnishings,"Floodlight Indoor Halogen Bulbs, 1 Bulb per Pa...",77.600,4,0.0,38.0240
2068,2069,CA-2015-133452,4/13/2015,4/19/2015,Standard Class,ZC-21910,Zuschuss Carroll,Consumer,United States,Pomona,...,91767,West,TEC-AC-10002800,Technology,Accessories,Plantronics Audio 478 Stereo USB Headset,199.960,4,0.0,69.9860
6556,6557,CA-2014-137092,10/20/2014,10/22/2014,Second Class,LS-16975,Lindsay Shagiari,Home Office,United States,Chicago,...,60653,Central,OFF-BI-10000632,Office Supplies,Binders,Satellite Sectional Post Binders,8.682,1,0.8,-14.7594

In [3]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

# Dataframe Transformation

In [4]:
def df_transformation(df):

    # Converting both columns into date data type

    df['Order Date'] = pd.to_datetime(df['Order Date'])
    df['Ship Date'] = pd.to_datetime(df['Ship Date'])

    # Renaming df columns

    df.rename(columns={"Row ID": "Row_ID",
                       "Order ID": "Order_ID", 
                       "Order Date": "Order_Date", 
                       "Ship Date": "Ship_Date", 
                       "Ship Mode": "Ship_Mode",
                       "Customer ID": "Customer_ID",
                       "Customer Name": "Customer_Name",
                       "Postal Code": "Postal_Code", 
                       "Product ID": "Product_ID", 
                       "Product Name": "Product_Name"}, inplace=True)


    # Adding new column with days between order and shipping

    df['Total_Shipping_Days'] = (df['Ship_Date'] - df['Order_Date']).dt.days
    
    # Percentage of profit per sale
    
    df['Profit_Percentage'] = round((df['Profit'] / df['Sales']),2)
    
    # Product Unit price
    
    df['Unit_Price'] = round((df['Sales'] / df['Quantity']),2)

In [5]:
df_transformation(df)

In [6]:
df.sample(5)

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,...,Category,Sub-Category,Product_Name,Sales,Quantity,Discount,Profit,Total_Shipping_Days,Profit_Percentage,Unit_Price
8667,8668,CA-2016-149916,2016-12-22,2016-12-24,Second Class,ED-13885,Emily Ducich,Home Office,United States,Seattle,...,Office Supplies,Binders,Wilson Jones International Size A4 Ring Binders,55.360,4,0.2,19.376,2,0.35,13.84
6180,6181,CA-2015-158421,2015-09-21,2015-09-26,Standard Class,GB-14575,Giulietta Baptist,Consumer,United States,Columbia,...,Technology,Phones,HTC One Mini,629.950,5,0.0,176.386,5,0.28,125.99
4967,4968,CA-2015-122406,2015-08-02,2015-08-05,Second Class,BE-11455,Brad Eason,Home Office,United States,Providence,...,Office Supplies,Paper,"Important Message Pads, 50 4-1/4 x 5-1/2 Forms...",8.400,2,0.0,4.116,3,0.49,4.20
4754,4755,CA-2017-126354,2017-02-03,2017-02-08,Standard Class,SC-20380,Shahid Collister,Consumer,United States,Pembroke Pines,...,Office Supplies,Binders,GBC Instant Report Kit,3.882,2,0.7,-2.588,5,-0.67,1.94
9291,9292,CA-2014-163650,2014-09-23,2014-09-25,First Class,TT-21220,Thomas Thornton,Consumer,United States,Dover,...,Office Supplies,Binders,Ibico Covers for Plastic or Wire Binding Elements,34.500,3,0.0,15.525,2,0.45,11.50

# Uploading to db

- Setting connection to SQL

In [7]:
password = getpass("Please enter your password: ")

dbName = "superstore"

connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

engine = alch.create_engine(connectionData)

Please enter your password:  ·······

In [8]:
'''

table = 'superstore_transactions'

df.to_sql(table, if_exists = 'replace', con=engine)

'''

"\n\ntable = 'superstore_transactions'\n\ndf.to_sql(table, if_exists = 'replace', con=engine)\n\n"

In [10]:
rfm = pd.read_sql_query("""
SELECT * 
    FROM rfm_view;
""", engine)

rfm.head()

  customer_id  rfm_recency  rfm_frequency  rfm_monetary  rfm_combined
0    TS-21085            1              1             1           111
1    LD-16855            1              1             1           111
2    RS-19870            4              1             1           411
3    SG-20890            1              1             1           111
4    CJ-11875            1              1             1           111

In [11]:
rfm.shape

(793, 5)

# Export to csv

In [9]:
# df.to_csv(r'C:\Users\DavidVicente\Desktop\IronHack\Git_Project_Repos\Project_4_Superstore-Sales-Visualization-\Data\superstore_df.csv')

In [13]:
rfm.to_csv(r'C:\Users\DavidVicente\Desktop\IronHack\Git_Project_Repos\Project_4_Superstore-Sales-Visualization-\Data\superstore_rfm.csv', index=False)